<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 命名空间 -->
<mapper namespace="com.chencj.bos.mapper.IBookMapper">

    <!-- Result Map,结果集映射，建立数据库表与实体类的映射 -->
    <resultMap id="BaseResultMap"
               type="com.chencj.bos.domain.Book">
        <!-- coulumn:字段名（对应数据库），
        property:属性（对应实体类） -->
        <!-- id对应主键，也可写result
        <id column="bookID" property="bookID"/>
        -->
        <result column="bookID" property="bookID" />
        <result column="bookName" property="bookName" />
        <result column="bookCounts" property="bookCounts" />
        <result column="detail" property="detail" />
    </resultMap>
    <!-- id对应.java的抽象方法-->
    <!--当前的resultType 不能和resultMap id一样 否则会报错-->
    <select id="selectAll" resultType="com.chencj.bos.domain.Book">
        select * from spring_db.books
    </select>

    <!-- 各种条件s -->
    <!-- where子句 -->
    <sql id="Where_Clause">
        where 1=1
        <if test="bookName != null and bookName != '' ">
            and bookName=#{bookName}
        </if>
        <if test="bookCounts != null and bookCounts != '' ">
            and bookCounts = #{bookCounts}
        </if>
        <if test="detail != null and detail!='' ">
            and detail=#{detail}
        </if>
    </sql>
    <!-- Set自子句 -->
    <!--<sql id="Set_Clause">
        <if test="bookName != null and bookName != '' ">
            bookName = #{bookName},
        </if>
        <if test="password != null and password != '' ">
            password = #{password},
        </if>
        <if test="name != null and name!='' ">
            name = #{name},
        </if>
        <if test="type != null and type!='' ">
            type = #{type},
        </if>
    </sql>-->
</mapper>